root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,html,js,json,jsx,lua,md,scss,toml,tsx,vue,yaml,yml}]
indent_size = 2

[*.gitconfig]
indent_style = tab

[*.gd]
indent_style = tab
indent_size = 4
