*.cache
*.gpg
*.log
*~
.base16*
.cache
*.lock
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/functions/
.config/hypr/monitors.conf
.config/hypr/workspaces.conf
.config/nvim/lazy-lock.json
.config/tmux/plugins
.config/gtk-3.0/assets
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/qsettings/QtProject.conf
.config/qutebrowser/bookmarks/urls
compile_commands.json
