*.cache
*.gpg
*.lock
*.log
*~
.base16*
.cache
.config/Vieb/
.config/dconf/user
.config/fish/completions/
.config/fish/conf.d/
.config/fish/fish_variables
.config/fish/functions/
.config/gtk-3.0/assets
.config/hypr/monitors.conf
.config/hypr/workspaces.conf
.config/nvim/lazy-lock.json
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/urls
.config/qutebrowser/qsettings/QtProject.conf
.config/tmux/plugins
butler
compile_commands.json
history.txt
