[user]
	name = mxaddict
	email = mxaddict@kryptic.sh
	signingkey = mxaddict@kryptic.sh
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = false
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
