:root {
  --tokyo-bg: #1a1b26;
  --tokyo-bg-light: #24283b;
  --tokyo-fg: #c0caf5;
  --tokyo-comment: #565f89;
  --tokyo-red: #f7768e;
  --tokyo-orange: #ff9e64;
  --tokyo-yellow: #e0af68;
  --tokyo-green: #9ece6a;
  --tokyo-teal: #73daca;
  --tokyo-cyan: #7dcfff;
  --tokyo-blue: #7aa2f7;
  --tokyo-purple: #bb9af7;

  --tokyo-bg-hover: #2a2c3e;
  --tokyo-bg-focus-alpha: rgba(68, 68, 68, 0.6);
  --tokyo-close-bg-alpha: rgba(255, 255, 255, 0.1);
  --tokyo-close-bg-hover-alpha: rgba(255, 255, 255, 0.15);
  --swaync-border-radius: 8px;
}

* {
  all: unset;
  font-family: 'Hadk Nerd Font';
  font-size: 14px;
  transition: 200ms;
}

trough highlight {
  background: var(--tokyo-fg);
}

scale {
  margin: 0 7px;
}

scale trough {
  border-radius: var(--swaync-border-radius);
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
}

trough slider {
  background-color: var(--tokyo-blue);
  border-radius: var(--swaync-border-radius);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  margin: -10px;
  transition: all 0.2s ease;
}

trough slider:hover {
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.8),
    0 0 8px var(--tokyo-blue);
}

trough {
  background-color: var(--tokyo-bg-light);
}

.notification,
.control-center,
.widget-mpris-player,
.notification-action,
.widget-dnd > switch,
.control-center .widget-title button {
  border: 2px solid var(--tokyo-teal);
}

.notification {
  background: var(--tokyo-bg-light);
  border-radius: var(--swaync-border-radius);
  color: var(--tokyo-fg);
  margin: 18px;
  padding: 8px;
}

.notification.critical {
  border-color: var(--tokyo-red);
}

.notification.low {
  border-color: var(--tokyo-blue);
}

.notification .notification-content {
  margin: 7px;
}

.notification .notification-content overlay {
  margin: 4px;
}

.notification-content .summary {
  color: var(--tokyo-fg);
}

.notification-content .time {
  color: var(--tokyo-comment);
}

.notification-content .body {
  color: var(--tokyo-fg);
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .close-button {
  margin-top: 10px;
  margin-right: 6px;
}

.close-button {
  margin: 24px;
  padding: 2px;
  border-radius: var(--swaync-border-radius);
  color: var(--tokyo-bg);
  background-color: var(--tokyo-red);
}

.close-button:hover {
  background-color: var(--tokyo-red);
}

.close-button:active {
  background-color: var(--tokyo-orange);
}

.notification .notification-action {
  border-radius: var(--swaync-border-radius);
  color: var(--tokyo-fg);
  font-size: 0.2rem;
  margin: 4px;
  padding: 8px;
}

.notification .notification-action {
  background-color: var(--tokyo-bg-light);
}

.notification .notification-action:hover {
  background-color: var(--tokyo-bg-hover);
}

.notification .notification-action:active {
  background-color: var(--tokyo-comment);
}

.notification.critical progress {
  background-color: var(--tokyo-red);
}

.notification.low progress,
.notification.normal progress {
  background-color: var(--tokyo-blue);
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: var(--swaync-border-radius);
  padding: 3px 0;
}

.control-center {
  border-radius: var(--swaync-border-radius);
  background-color: var(--tokyo-bg);
  color: var(--tokyo-fg);
  padding: 16px;
}

.control-center .notification {
  margin: 4px 0px;
  border-radius: var(--swaync-border-radius);
}

.control-center .widget-title > label {
  color: var(--tokyo-fg);
  font-size: 2rem;
}

.control-center .widget-title button {
  background-color: var(--tokyo-bg-light);
  border-radius: var(--swaync-border-radius);
  color: var(--tokyo-fg);
  padding: 4px 8px;
}

.control-center .widget-title button:hover {
  background-color: var(--tokyo-bg-hover);
}

.control-center .widget-title button:active {
  background-color: var(--tokyo-comment);
}

.control-center .notification-group {
  margin-top: 8px;
}

.control-center .notification-group:focus .notification {
  background-color: var(--tokyo-bg-light);
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

.widget-dnd {
  font-size: 2rem;
  margin-top: 16px;
  border-radius: var(--swaync-border-radius);
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: var(--swaync-border-radius);
  background: var(--tokyo-bg-light);
}

.widget-dnd > switch:checked {
  background: var(--tokyo-red);
}

.widget-dnd > switch:hover {
  background: var(--tokyo-red);
}

.widget-dnd > switch slider {
  background: var(--tokyo-teal);
  border-radius: var(--swaync-border-radius);
  margin: 4px;
}

.widget-mpris-player {
  margin-top: 16px;
  background: var(--tokyo-bg-light);
  border-radius: var(--swaync-border-radius);
  color: var(--tokyo-fg);
}

.mpris-overlay {
  background-color: var(--tokyo-bg-light);
  opacity: 0.9;
  padding: 15px 10px;
}

.widget-mpris-album-art {
  -gtk-icon-size: 100px;
  border-radius: var(--swaync-border-radius);
  margin: 0 10px;
}

.widget-mpris-title {
  font-size: 1.2rem;
  color: var(--tokyo-fg);
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: var(--tokyo-comment);
}

.widget-mpris button {
  border-radius: var(--swaync-border-radius);
  color: var(--tokyo-fg);
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
  background-color: var(--tokyo-bg-light);
}

.widget-mpris button:active {
  background-color: var(--tokyo-bg-hover);
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: var(--tokyo-red);
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: var(--tokyo-bg-light);
}

.control-center .widget-label > label {
  color: var(--tokyo-fg);
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: var(--tokyo-cyan);
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: var(--tokyo-cyan);
}

.widget-backlight trough highlight {
  background: var(--tokyo-yellow);
}

.widget-backlight label {
  font-size: 1.5rem;
  color: var(--tokyo-yellow);
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
