[Desktop Entry]
Version=1.0
Type=Application
Name=Teams (Applet)
Comment=Microsoft Teams web applet
Exec=chromium --app=https://teams.cloud.microsoft --user-data-dir=.config/chromium-teams
Icon=teams
Terminal=false
Categories=Network;Chat;
StartupWMClass=teams.microsoft.com
